.img-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
.button-styles {    
    background-color: transparent;
    text-align: center;
    border-radius: 50px;
    width:250px;
  }
  .button-styles1 {    
    background-color: transparent;    
    text-align: center;
    border-radius: 50px;
    width:280px;
  }