/* body{
    background-color: rgb(205, 248, 248);
    border:2px solid rgb(238, 210, 210);
} */


.body1{
    background-color:rgb(250, 255, 255);
    display:flex;
    float:left;
    position:absolute;
    left:50px;
    top:100px;
    box-shadow: 7px 5px 23px rgb(181, 181, 185);
}

.regImg {
    position: absolute;
    top: 150px;
    right: -850px;
    width: 700px;
}