/* body{
    display: flex;
    align-items: center;
    background-color: rgb(20, 17, 180);
}

.signImg{
    postion : absolute;
    top:50px;
    left:50px;
} */
/* body {margin: 0; height: 100%; overflow: hidden} */
#Course-Main-Div {
    min-height: calc(100vh - 80px);
  }
  
#SignIn-Main-Block {
  min-height: calc(100vh - 80px);
}

.signImg {
  height:90%;
  margin-top: -60px;
}

.cont1 {
  position: absolute;
  top: 100px;
  height: 90%;
  right: 10px;
}

.im1 {
  height: 200%;
}
